@mixin text($font-size) {
	/*backdrop-filter: blur(0px);*/
	background-size: 100% 100%;
	background-repeat: no-repeat;
	font-size: $font-size;
	font-family: Share Tech Mono;
	color: #fff;
	justify-content: center;
	text-align: center;
	opacity: 0.7;

	text-shadow: 3px 3px black, -6px -5px rgba(0,255,0,0.45),-6px 5px rgba(0,255,0,0.5), 5px 5px rgba(0,255,0,0.55), 10px 5px rgba(0,255,0,0.35);
	transform-origin: 50% 50%;
}

PolygonScoreboardWall {
	position: absolute;
	width: 100%;
	height: 100%;
	align-content: center;
	justify-content: center;
	align-items: center;
	/*pointer-events:all;*/

	.scoreboard {
		position: absolute;
		box-shadow: 0px 0px 20px 0px rgb(0, 0, 0);
		transition: all 0.1s ease-out;
		transform: scale(1);
		background-image: url("materials/polygon/topology.vtex");
		background-size: 138% 130%;
		background-repeat: no-repeat;
		width: 100%;
		height: 100%;
	}

	.scoreboardframe {
		width: 100%;
		height: 100.2%;
		align-content: center;
		justify-content: center;
		flex-direction: column;
		background: linear-gradient(to bottom, rgba(20,20,20,0.1) 0%, rgba(20,20,20,1) 13%);
	}

	.scoreboardtopplayers {
		@include text(100);
		margin-top: 75px;
		height: 10%;
		width: 100%;
	}

	.entrylist {
		flex-grow: 0;
		width: 100%;
		height: 100%;
		margin: 2%;
		align-content: center;
		align-items: center;
		flex-direction: column;
		padding: 50px;
	}

	.entryrow {
		color: rgba(255,255,255,0.7);
		width: 100%;
		height: 6%;
		justify-content: space-between;
		background: linear-gradient(to bottom, rgba(50,50,50,1) 0%, rgba(40,40,40,1) 100%);
		margin: 3px;
		padding-right: 30px;
		padding-left: 30px;
	}

	.entryrowfirst {
		color: rgba(245,230,66,0.7);
		width: 100%;
		height: 6%;
		justify-content: space-between;
		background: linear-gradient(to bottom, rgba(50,50,50,1) 0%, rgba(245,230,66,0.1) 100%);
		margin: 3px;
		padding-right: 30px;
		padding-left: 30px;
	}

	.entryrowsecond {
		color: rgba(186,186,186,0.7);
		width: 100%;
		height: 6%;
		justify-content: space-between;
		background: linear-gradient(to bottom, rgba(80,80,80,1) 0%, rgba(186,186,186,0.2) 100%);
		margin: 3px;
		padding-right: 30px;
		padding-left: 30px;
	}

	.entryrowthird {
		color: rgba(195,115,54,0.7);
		width: 100%;
		height: 6%;
		justify-content: space-between;
		background: linear-gradient(to bottom, rgba(70,50,50,1) 0%, rgba(195,115,54,0.15) 100%);
		margin: 3px;
		padding-right: 30px;
		padding-left: 30px;
	}

	.rowcountry {
		font-size: 48px;
		font-family: roboto;
		text-align: center;
		text-shadow: 0 0 2px #000000;
		width: 10%;
		justify-content: center;
		align-items: center;
		align-content: center;
	}

	.rowscore {
		font-size: 24px;
		font-family: roboto;
		text-align: center;
		text-shadow: 0 0 2px #000000;
		width: 0%;
		justify-content: center;
		align-items: center;
	}

	.rowflag {
		width: 58px;
		height: 44px;
		background-repeat: no-repeat;
		background-size: 58px 44px;
	}

	.rowtime {
		font-size: 48px;
		font-family: roboto;
		text-align: center;
		text-shadow: 0 0 2px #000000;
		width: 100%;
		justify-content: flex-end;
		align-items: center;
	}

	.rownick {
		font-size: 48px;
		font-family: roboto;
		text-align: center;
		text-shadow: 0 0 2px #000000;
		width: 100%;
		text-align: left;
		align-items: center;
		justify-content: flex-end;
	}
}
